@page "/Admin/Länder/Edit"
@using BlazorERP.Core.Validators.Admin.Hilfsdaten
@using Microsoft.AspNetCore.Identity
@inject AuthService authService
@inherits EditPageBase<int?, Land, LandService>
@inject SpracheService spracheService
@inject IMessageService messageService
@inject IDialogService DialogService
<PageTitle>@FinalBreadcrumbItemName</PageTitle>

<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="/">Start</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>Administration</FluentBreadcrumbItem>
    <FluentBreadcrumbItem Href="/Admin/Länder">Länder</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>@FinalBreadcrumbItemName</FluentBreadcrumbItem>
</FluentBreadcrumb>
@if (Input is null)
{
    return;
}
<FluentStack HorizontalAlignment="HorizontalAlignment.End">
    <FluentAnchor Href="/Admin/Anreden"
                  IconStart="@(new Icons.Regular.Size20.ArrowReply())">
        Zurück
    </FluentAnchor>

    @if (Modus is EditMode.Edit)
    {
        <FluentButton id="btnOpen1" Appearance="Appearance.Accent" @onclick="@(() => _showOptionsMenu = !_showOptionsMenu)">
            Optionen
        </FluentButton>

        <FluentMenu Anchor="btnOpen1" @bind-Open="_showOptionsMenu" VerticalThreshold="170">
            <FluentMenuItem OnClick="ShowDeleteModalAsync">Land löschen</FluentMenuItem>
        </FluentMenu>
    }

    <FluentButton IconStart="@(new Icons.Regular.Size20.Save())"
                  Appearance="Appearance.Accent"
                  OnClick="SaveAsync">

        Speichern
    </FluentButton>
</FluentStack>

<EditForm Model="Input" @ref="_form">
    <FluentValidationValidator Validator="_validator" />
    <FluentTabs>
        <FluentTab Label="Allgemein">
            <div class="row">
                <div class="col-md-6 row">
                    @if (Modus is EditMode.Edit)
                    {
                        <div class="col-md-12">
                            <FluentNumberField @bind-Value="Input.LandId" Label="LandId" Disabled />
                        </div>
                    }

                    <div class="col-md-12">
                        <FluentTextField @bind-Value="Input.Name" Label="Name" />
                        <FluentValidationMessage For="() => Input.Name" />
                    </div>
                    <div class="col-md-3">
                        <FluentTextField @bind-Value="Input.ISO2" Label="ISO2" />
                        <FluentValidationMessage For="() => Input.ISO2" />
                    </div>
                    <div class="col-md-3">
                        <FluentTextField @bind-Value="Input.ISO3" Label="ISO3" />
                        <FluentValidationMessage For="() => Input.ISO3" />
                    </div>
                    <div class="col-md-3">
                        <FluentTextField @bind-Value="Input.Vorwahl" Label="Vorwahl" />
                        <FluentValidationMessage For="() => Input.Vorwahl" />
                    </div>

                </div>
            </div>
        </FluentTab>
        <FluentTab Label="Übersetzungen">
            <Content>
                <BlazorERP.Components.Shared.ÜbersetzungEditor Übersetzungen="Input.Übersetzungen" />
            </Content>
        </FluentTab>

    </FluentTabs>
</EditForm>
@code {


    private bool _showOptionsMenu;
    private AnredeValidator _validator = new();


    protected override string GetEntityRedirectUrl() => $"/Admin/Länder/Edit?landId={Input!.LandId}";



    [Parameter, SupplyParameterFromQuery(Name = "landId")]
    public override int? Identifier { get; set; }


    private async Task ShowDeleteModalAsync()
    {

        var dialog = await DialogService.ShowDialogAsync<DeleteDialog<Anrede, AnredeService>>(Input!, new CustomDialogParameters()
            {
                Title = $"Land löschen",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true,
                Text = $"Möchten Sie das Land \"{Input!.GetName()}\" wirklich löschen?"
            });

        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            messageService.ShowMessageBar(options =>
            {
                options.Title = "Land wurde erfolgreich gelöscht!";
                options.Intent = MessageIntent.Success;
                options.Section = Constants.MESSAGEBAR_TOP_SECTION;
                options.Timeout = 4000;
            });

            NavigationManager.NavigateTo("/Admin/Länder");
        }
    }

    protected override Task BeforeSaveAsync(IDbController dbController)
    {
        Input.LetzterBearbeiter = User.UserId;
        Input.ZuletztGeaendert = DateTime.Now;

        return Task.CompletedTask;
    }

}