@page "/Admin/Zahlungsbedingungen/Edit"
@using BlazorERP.Core.Validators.Admin.Hilfsdaten
@using Microsoft.AspNetCore.Identity
@inherits EditPageBase<int?, PaymentCondition, PaymentConditionService>

<PageTitle>@FinalBreadcrumbItemName</PageTitle>

<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="/">Start</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>Administration</FluentBreadcrumbItem>
    <FluentBreadcrumbItem Href="/Admin/Zahlungsbedingungen">Zahlungsbedingungen</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>@FinalBreadcrumbItemName</FluentBreadcrumbItem>
</FluentBreadcrumb>
@if (Input is null)
{
    return;
}
<FluentStack HorizontalAlignment="HorizontalAlignment.End">
    <FluentAnchor Href="/Admin/Zahlungsbedingungen"
                  IconStart="@(new Icons.Regular.Size20.ArrowReply())">
        Zurück
    </FluentAnchor>

    @if (Modus is EditMode.Edit)
    {
        <FluentButton id="btnOpen1" Appearance="Appearance.Accent" @onclick="@(() => _showOptionsMenu = !_showOptionsMenu)">
            Optionen
        </FluentButton>

        <FluentMenu Anchor="btnOpen1" @bind-Open="_showOptionsMenu" VerticalThreshold="170">
            <FluentMenuItem OnClick="ShowDeleteModalAsync">Zahlungsbedingung löschen</FluentMenuItem>
        </FluentMenu>
    }

    <FluentButton IconStart="@(new Icons.Regular.Size20.Save())"
                  Appearance="Appearance.Accent"
                  OnClick="SaveAsync">

        Speichern
    </FluentButton>
</FluentStack>

<EditForm Model="Input" @ref="_form">
    <FluentValidationValidator Validator="_validator" />
    <FluentTabs>
        <FluentTab Label="Allgemein">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        @if (Modus is EditMode.Edit)
                        {
                            <div class="col-md-12">
                                <FluentNumberField @bind-Value="Input.PaymentConditionId" Label="ZahlungsbedingungId" Disabled />
                                <FluentValidationMessage For="() => Input.PaymentConditionId" />
                            </div>
                        }

             

                        <div class="col-md-4">
                            <FluentNumberField @bind-Value="Input.NetDays" Label="Nettotage" />
                            <FluentValidationMessage For="() => Input.NetDays" />
                        </div>

                        <div class="col-md-3">
                            <FluentNumberField @bind-Value="Input.Discount1Days" Label="Tage Skonto 1" />
                            <FluentValidationMessage For="() => Input.Discount1Days" />
                        </div>

                        <div class="col-md-3">
                            <FluentNumberField @bind-Value="Input.Discount1Percent" Label="Prozent Skonto 1" />
                            <FluentValidationMessage For="() => Input.Discount1Percent" />
                        </div>

                        <div class="col-md-3">
                            <FluentNumberField @bind-Value="Input.Discount2Days" Label="Tage Skonto 2" />
                            <FluentValidationMessage For="() => Input.Discount2Days" />
                        </div>

                        <div class="col-md-3">
                            <FluentNumberField @bind-Value="Input.Discount2Percent" Label="Prozent Skonto 2" />
                            <FluentValidationMessage For="() => Input.Discount2Percent" />
                        </div>

                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="row">
                        @if (Modus is EditMode.Edit)
                        {
                            <div class="col-12">
                                <FluentDatePicker Appearance="FluentInputAppearance.Filled" Label="Letzte Änderung" @bind-Value="@Input.LastModified" ReadOnly />
                            </div>

                            <div class="col-12">
                                <FluentTextField Appearance="FluentInputAppearance.Filled" Label="Letzter Bearbeiter" Value="@Input.BearbeiterName" ReadOnly />
                            </div>
                            <div class="col-12">
                                <div class="d-flex flex-column gap-2 mt-2">
                                    <FluentSwitch @bind-Value="@Input.IsActive" Label="Aktiv" />
                                    <FluentSwitch @bind-Value="@Input.IsPrepayment" Label="Vorkasse" />
                                    <FluentSwitch @bind-Value="@Input.IsCashPayment" Label="Barzahlung" />
                                    <FluentSwitch @bind-Value="@Input.IsDirectDebit" Label="Abbuchung" />
                                    <FluentSwitch @bind-Value="@Input.IsInvoice" Label="Rechnung" />
                                    <FluentSwitch @bind-Value="@Input.AvailableForCustomer" Label="Verfügbar für Kunden" />
                                    <FluentSwitch @bind-Value="@Input.AvailableForSupplier" Label="Verfügbar für Lieferanten" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </FluentTab>
        <FluentTab Label="Übersetzungen">
            <Content>
                <BlazorERP.Components.Shared.TranslationEditor Translations="Input.Translations" />
            </Content>
        </FluentTab>

    </FluentTabs>
</EditForm>
@code {


    private bool _showOptionsMenu;
    private PaymentConditionValidator _validator = new();

    protected override string GetListUrl() => "/Admin/Zahlungsbedingungen";
    protected override string GetEntityRedirectUrl() => $"/Admin/Zahlungsbedingungen/Edit?zahlungsbedingungId={Input!.PaymentConditionId}";



    [Parameter, SupplyParameterFromQuery(Name = "zahlungsbedingungId")]
    public override int? Identifier { get; set; }



    protected override Task BeforeSaveAsync(IDbController dbController)
    {
        Input.LastModifiedBy = User.UserId;
        Input.LastModified = DateTime.Now;

        return Task.CompletedTask;
    }

}