@page "/Admin/Währungen/Edit"
@using BlazorERP.Core.Validators.Admin.Hilfsdaten
@using Microsoft.AspNetCore.Identity
@inherits EditPageBase<string?, Währung, WährungService>

<PageTitle>@FinalBreadcrumbItemName</PageTitle>

<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="/">Start</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>Administration</FluentBreadcrumbItem>
    <FluentBreadcrumbItem Href="/Admin/Währungen">Währungen</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>@FinalBreadcrumbItemName</FluentBreadcrumbItem>
</FluentBreadcrumb>
@if (Input is null)
{
    return;
}
<FluentStack HorizontalAlignment="HorizontalAlignment.End">
    <FluentAnchor Href="/Admin/Währungen"
                  IconStart="@(new Icons.Regular.Size20.ArrowReply())">
        Zurück
    </FluentAnchor>

    @if (Modus is EditMode.Edit)
    {
        <FluentButton id="btnOpen1" Appearance="Appearance.Accent" @onclick="@(() => _showOptionsMenu = !_showOptionsMenu)">
            Optionen
        </FluentButton>

        <FluentMenu Anchor="btnOpen1" @bind-Open="_showOptionsMenu" VerticalThreshold="170">
            <FluentMenuItem OnClick="ShowDeleteModalAsync">Währung löschen</FluentMenuItem>
        </FluentMenu>
    }

    <FluentButton IconStart="@(new Icons.Regular.Size20.Save())"
                  Appearance="Appearance.Accent"
                  OnClick="SaveAsync">

        Speichern
    </FluentButton>
</FluentStack>

<div class="row">
    <div class="col-md-9">
        <EditForm Model="Input" @ref="_form">
            <FluentValidationValidator Validator="_validator" />
            <FluentTabs>
                <FluentTab Label="Allgemein">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row">
                                @if (Modus is EditMode.Edit)
                                {
                                    <div class="col-md-12">
                                        <FluentTextField @bind-Value="Input.Code" Label="Code" Disabled="Modus is EditMode.Edit" />
                                        <FluentValidationMessage For="() => Input.Code" />
                                    </div>


                                    <div class="col-md-4">
                                        <FluentNumberField @bind-Value="Input.Wechselkurs" Label="Wechselkurs" />
                                        <FluentValidationMessage For="() => Input.Wechselkurs" />
                                    </div>
                                    <div class="col-md-4">
                                        <FluentNumberField @bind-Value="Input.Kurs" Label="Kurs" />
                                        <FluentValidationMessage For="() => Input.Kurs" />
                                    </div>

                                    <div class="col-md-4">
                                        <FluentDatePicker Label="Kurs Vom" @bind-Value="@Input.KursVom" />
                                        <FluentValidationMessage For="() => Input.KursVom" />
                                    </div>

                                    <div class="col-md-3">
                                        <FluentNumberField @bind-Value="Input.Nachkommastellen" Label="Nachkommastellen" />
                                        <FluentValidationMessage For="() => Input.Nachkommastellen" />
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div class="row">
                                @if (Modus is EditMode.Edit)
                                {
                                    <div class="col-12">
                                        <FluentDatePicker Appearance="FluentInputAppearance.Filled" Label="Letzte Änderung" @bind-Value="@Input.ZuletztGeaendert" ReadOnly />
                                    </div>

                                    <div class="col-12">
                                        <FluentTextField Appearance="FluentInputAppearance.Filled" Label="Letzter Bearbeiter" Value="@Input.BearbeiterName" ReadOnly />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </FluentTab>
            </FluentTabs>
        </EditForm>
    </div>
    <div class="col-md-3"></div>
</div>
@code {


    private bool _showOptionsMenu;
    private WährungValidator _validator = new();

    
    protected override string GetEntityRedirectUrl() => $"/Admin/Währungen/Edit?code={Input!.Code}";

   

    [Parameter, SupplyParameterFromQuery(Name = "code")]
    public override string? Identifier { get; set; }


    private async Task ShowDeleteModalAsync()
    {

        var dialog = await DialogService.ShowDialogAsync<DeleteDialog<Währung, WährungService>>(Input!, new CustomDialogParameters()
            {
                Title = $"Währung löschen",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true,
                Text = $"Möchten Sie die Währung \"{Input!.GetName()}\" wirklich löschen?"
            });

        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            MessageService.ShowMessageBar(options =>
            {
                options.Title = "Währung wurde erfolgreich gelöscht!";
                options.Intent = MessageIntent.Success;
                options.Section = Constants.MESSAGEBAR_TOP_SECTION;
                options.Timeout = 4000;
            });

            NavigationManager.NavigateTo("/Admin/Währungen");
        }
    }

    protected override Task BeforeSaveAsync(IDbController dbController)
    {
        Input.LetzterBearbeiter = User.UserId;
        Input.ZuletztGeaendert = DateTime.Now;

        return Task.CompletedTask;
    }

}