@page "/Admin/Zahlungsbedingungen/Edit"
@using BlazorERP.Core.Validators.Admin.Hilfsdaten
@using Microsoft.AspNetCore.Identity
@inherits EditPageBase<int?, Zahlungsbedingung, ZahlungsbedingungService>

<PageTitle>@FinalBreadcrumbItemName</PageTitle>

<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="/">Start</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>Administration</FluentBreadcrumbItem>
    <FluentBreadcrumbItem Href="/Admin/Zahlungsbedingungen">Zahlungsbedingungen</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>@FinalBreadcrumbItemName</FluentBreadcrumbItem>
</FluentBreadcrumb>
@if (Input is null)
{
    return;
}
<FluentStack HorizontalAlignment="HorizontalAlignment.End">
    <FluentAnchor Href="/Admin/Zahlungsbedingungen"
                  IconStart="@(new Icons.Regular.Size20.ArrowReply())">
        Zurück
    </FluentAnchor>

    @if (Modus is EditMode.Edit)
    {
        <FluentButton id="btnOpen1" Appearance="Appearance.Accent" @onclick="@(() => _showOptionsMenu = !_showOptionsMenu)">
            Optionen
        </FluentButton>

        <FluentMenu Anchor="btnOpen1" @bind-Open="_showOptionsMenu" VerticalThreshold="170">
            <FluentMenuItem OnClick="ShowDeleteModalAsync">Zahlungsbedingung löschen</FluentMenuItem>
        </FluentMenu>
    }

    <FluentButton IconStart="@(new Icons.Regular.Size20.Save())"
                  Appearance="Appearance.Accent"
                  OnClick="SaveAsync">

        Speichern
    </FluentButton>
</FluentStack>

<EditForm Model="Input" @ref="_form">
    <FluentValidationValidator Validator="_validator" />
    <FluentTabs>
        <FluentTab Label="Allgemein">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        @if (Modus is EditMode.Edit)
                        {
                            <div class="col-md-12">
                                <FluentNumberField @bind-Value="Input.ZahlungsbedingungId" Label="ZahlungsbedingungId" Disabled />
                                <FluentValidationMessage For="() => Input.ZahlungsbedingungId" />
                            </div>
                        }

                        <div class="col-md-8">
                            <FluentTextField @bind-Value="Input.Name" Label="Name" />
                            <FluentValidationMessage For="() => Input.Name" />
                        </div>

                        <div class="col-md-4">
                            <FluentNumberField @bind-Value="Input.Nettotage" Label="Nettotage" />
                            <FluentValidationMessage For="() => Input.Nettotage" />
                        </div>

                        <div class="col-md-3">
                            <FluentNumberField @bind-Value="Input.Skonto1Tage" Label="Tage Skonto 1" />
                            <FluentValidationMessage For="() => Input.Skonto1Tage" />
                        </div>

                        <div class="col-md-3">
                            <FluentNumberField @bind-Value="Input.Skonto1Prozent" Label="Prozent Skonto 1" />
                            <FluentValidationMessage For="() => Input.Skonto1Prozent" />
                        </div>

                        <div class="col-md-3">
                            <FluentNumberField @bind-Value="Input.Skonto2Prozent" Label="Prozent Skonto 2" />
                            <FluentValidationMessage For="() => Input.Skonto2Prozent" />
                        </div>

                        <div class="col-md-3">
                            <FluentNumberField @bind-Value="Input.Skonto2Tage" Label="Tage Skonto 2" />
                            <FluentValidationMessage For="() => Input.Skonto2Tage" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="row">
                        @if (Modus is EditMode.Edit)
                        {
                            <div class="col-12">
                                <FluentDatePicker Appearance="FluentInputAppearance.Filled" Label="Letzte Änderung" @bind-Value="@Input.ZuletztGeaendert" ReadOnly />
                            </div>

                            <div class="col-12">
                                <FluentTextField Appearance="FluentInputAppearance.Filled" Label="Letzter Bearbeiter" Value="@Input.BearbeiterName" ReadOnly />
                            </div>
                            <div class="col-12">
                                <div class="d-flex flex-column gap-2 mt-2">
                                    <FluentSwitch @bind-Value="@Input.IstAktiv" Label="Aktiv" />
                                    <FluentSwitch @bind-Value="@Input.IstVorkasse" Label="Vorkasse" />
                                    <FluentSwitch @bind-Value="@Input.IstBarzahlung" Label="Barzahlung" />
                                    <FluentSwitch @bind-Value="@Input.IstAbbuchung" Label="Abbuchung" />
                                    <FluentSwitch @bind-Value="@Input.IstRechnung" Label="Rechnung" />
                                    <FluentSwitch @bind-Value="@Input.VerfuegbarKunde" Label="Verfügbar für Kunden" />
                                    <FluentSwitch @bind-Value="@Input.VerfuegbarLieferant" Label="Verfügbar für Lieferanten" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </FluentTab>
        <FluentTab Label="Übersetzungen">
            <Content>
                <BlazorERP.Components.Shared.ÜbersetzungEditor Übersetzungen="Input.Übersetzungen" />
            </Content>
        </FluentTab>

    </FluentTabs>
</EditForm>
@code {


    private bool _showOptionsMenu;
    private ZahlungsbedingungValidator _validator = new();


    protected override string GetEntityRedirectUrl() => $"/Admin/Zahlungsbedingungen/Edit?zahlungsbedingungId={Input!.ZahlungsbedingungId}";



    [Parameter, SupplyParameterFromQuery(Name = "zahlungsbedingungId")]
    public override int? Identifier { get; set; }


    private async Task ShowDeleteModalAsync()
    {

        var dialog = await DialogService.ShowDialogAsync<DeleteDialog<Zahlungsbedingung, ZahlungsbedingungService>>(Input!, new CustomDialogParameters()
            {
                Title = $"Zahlungsbedingung löschen",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true,
                Text = $"Möchten Sie die Zahlungsbedingung \"{Input!.GetName()}\" wirklich löschen?"
            });

        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            MessageService.ShowMessageBar(options =>
            {
                options.Title = "Zahlungsbedingung wurde erfolgreich gelöscht!";
                options.Intent = MessageIntent.Success;
                options.Section = Constants.MESSAGEBAR_TOP_SECTION;
                options.Timeout = 4000;
            });

            NavigationManager.NavigateTo("/Admin/Zahlungsbedingungen");
        }
    }

    protected override Task BeforeSaveAsync(IDbController dbController)
    {
        Input.LetzterBearbeiter = User.UserId;
        Input.ZuletztGeaendert = DateTime.Now;

        return Task.CompletedTask;
    }

}