@page "/Stammdaten/Kunden/Edit"
@using BlazorERP.Core.Validators.Admin.Hilfsdaten
@using Microsoft.AspNetCore.Identity
@inherits EditPageBase<string?, Kunde, KundeService>
@inject VoreinstellungService voreinstellungService

<PageTitle>@FinalBreadcrumbItemName</PageTitle>

<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="/">Start</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>Administration</FluentBreadcrumbItem>
    <FluentBreadcrumbItem Href="/Stammdaten/Kunden">Kunden</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>@FinalBreadcrumbItemName</FluentBreadcrumbItem>
</FluentBreadcrumb>
@if (Input is null)
{
    return;
}
<FluentStack HorizontalAlignment="HorizontalAlignment.End">
    <FluentAnchor Href="/Stammdaten/Kunden"
                  IconStart="@(new Icons.Regular.Size20.ArrowReply())">
        Zurück
    </FluentAnchor>

    @if (Modus is EditMode.Edit)
    {
        <FluentButton id="btnOpen1" Appearance="Appearance.Accent" @onclick="@(() => _showOptionsMenu = !_showOptionsMenu)">
            Optionen
        </FluentButton>

        <FluentMenu Anchor="btnOpen1" @bind-Open="_showOptionsMenu" VerticalThreshold="170">
            <FluentMenuItem OnClick="ShowDeleteModalAsync">Kunde löschen</FluentMenuItem>
        </FluentMenu>
    }

    <FluentButton IconStart="@(new Icons.Regular.Size20.Save())"
                  Appearance="Appearance.Accent"
                  OnClick="SaveAsync">

        Speichern
    </FluentButton>
</FluentStack>

<EditForm Model="Input" @ref="_form">
    <FluentValidationValidator Validator="_validator" />
    <FluentTabs>
        <FluentTab Label="Allgemein">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <FluentTextField @bind-Value="Input.Firma" Label="Firma" />
                            <FluentValidationMessage For="() => Input.Firma" />

                            <FluentTextField @bind-Value="Input.Name1" Label="Name1" />
                            <FluentValidationMessage For="() => Input.Name1" />

                            <FluentTextField @bind-Value="Input.Name2" Label="Name2" />
                            <FluentValidationMessage For="() => Input.Name2" />

                            <FluentTextField @bind-Value="Input.Strasse" Label="Straße" />
                            <FluentValidationMessage For="() => Input.Strasse" />

                            <div class="row">
                                <div class="col-md-4">
                                    <FluentSelect TOption="Country" Label="Land" Width="100%;">
                                        <FluentOption Value="null" Selected="@(Input.LandId is null)" OnSelect="(val) => Input.LandId = null">--- Auswählen ---</FluentOption>
                                        @foreach (var item in Storage.Get<Country>())
                                        {
                                            <FluentOption TOption="Country" Value="@item.CountryId.ToString()" Selected="@(Input.LandId == item.CountryId)" OnSelect="(val) => Input.LandId = item.CountryId">@item.ISO2</FluentOption>
                                        }
                                    </FluentSelect>

                                    <p>Land: @Input.LandId</p>

                                </div>
                                <div class="col-md-4">
                                    <FluentTextField @bind-Value="Input.Postleitzahl" Label="Postleitzahl" />
                                    <FluentValidationMessage For="() => Input.Postleitzahl" />
                                </div>
                                <div class="col-md-4">
                                    <FluentTextField @bind-Value="Input.Ort" Label="Postleitzahl" />
                                    <FluentValidationMessage For="() => Input.Ort" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="row">
                                <div class="col-6">
                                    <FluentSelect TOption="Language" Label="Sprache" Width="100%;">
                                        <FluentOption Value="null" Selected="@(Input.SprachId is null)" OnSelect="(val) => Input.SprachId = null">--- Auswählen ---</FluentOption>
                                        @foreach (var item in Storage.Get<Language>())
                                        {
                                            <FluentOption TOption="Language" Value="@item.LanguageId.ToString()" Selected="@(Input.SprachId == item.LanguageId)" OnSelect="(val) => Input.SprachId = item.LanguageId">@item.GetName(Storage.DEFAULT_LANGUAGE)</FluentOption>
                                        }
                                    </FluentSelect>
                                    <FluentValidationMessage For="() => Input.SprachId" />
                                </div>

                                <div class="col-6">
                                    <FluentSelect TOption="Salutation" Label="Anrede" Width="100%;">
                                        <FluentOption Value="null" Selected="@(Input.AnredeId is null)" OnSelect="(val) => Input.AnredeId = null">--- Auswählen ---</FluentOption>
                                        @foreach (var item in Storage.Get<Salutation>())
                                        {
                                            <FluentOption TOption="Salutation" Value="@item.SalutationId.ToString()" Selected="@(Input.AnredeId == item.SalutationId)" OnSelect="(val) => Input.AnredeId = item.SalutationId">@item.GetName(Storage.DEFAULT_LANGUAGE)</FluentOption>
                                        }
                                    </FluentSelect>
                                    <FluentValidationMessage For="() => Input.AnredeId" />
                                </div>
                                <div class="col-md-6">
                                    <FluentTextField @bind-Value="Input.Telefonnummer" Label="Telefonnummer" />
                                    <FluentValidationMessage For="() => Input.Telefonnummer" />
                                </div>
                                <div class="col-md-6">
                                    <FluentTextField @bind-Value="Input.Mobilnummer" Label="Mobilnummer" />
                                    <FluentValidationMessage For="() => Input.Mobilnummer" />
                                </div>

                                <div class="col-md-6">
                                    <FluentTextField Value="@Input.Email"
                                                     ValueChanged="OnEmailChanged"
                                                     ValueExpression="() => Input.Email"
                                                     Label="E-Mail" />
                                    <FluentValidationMessage For="() => Input.Email" />
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <FluentTextField @bind-Value="Input.Website" Immediate="true" Label="Website" />
                                        <FluentAnchor Appearance="Appearance.Accent" Href="@StringExtensions.ParseUrl(Input.Website)" Target="_blank" IconStart="@(new Icons.Regular.Size20.Open().WithColor(Color.Fill))" />
                                    </div>
                                    <FluentValidationMessage For="() => Input.Website" />
                                </div>
                                <div class="col-12">
                                    <FluentTextArea @bind-Value="Input.Notiz" Label="Notiz" Class="w-100" Rows="6" />
                                    <FluentValidationMessage For="() => Input.Notiz" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="row">
                        @if (Modus is EditMode.Edit)
                        {
                            <div class="col-12">
                                <FluentTextField Value="@Input.Anlagedatum?.ToShortDateString()" Appearance="FluentInputAppearance.Filled" Label="Anlagedatum" ReadOnly />
                            </div>
                            <div class="col-12">
                                <div class="d-flex flex-column gap-2 mt-2">
                                    <FluentSwitch @bind-Value="@Input.IstGesperrt" Label="Gesperrt" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </FluentTab>
        <FluentTab Label="Finanzdaten">
            <Content>
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <FluentSelect TOption="DeliveryCondition" Label="Lieferbedingung" Width="100%;">
                                    <FluentOption Value="null" Selected="@(Input.LieferbedingungId is null)" OnSelect="(val) => Input.LieferbedingungId = null">--- Auswählen ---</FluentOption>
                                    @foreach (var item in Storage.Get<DeliveryCondition>())
                                    {
                                        @if (item.VerfuegbarKunde || item.LieferbedingungId == Input.LieferbedingungId)
                                        {
                                            <FluentOption TOption="DeliveryCondition" Value="@item.LieferbedingungId.ToString()" Selected="@(Input.LieferbedingungId == item.LieferbedingungId)" OnSelect="(val) => Input.LieferbedingungId = item.LieferbedingungId">@item.Name</FluentOption>
                                        }
                                    }
                                </FluentSelect>
                                <FluentValidationMessage For="() => Input.LieferbedingungId" />

                            </div>
                            <div class="col-md-6">
                                <FluentSelect TOption="PaymentCondition" Label="Zahlungsbedingung" Width="100%;">
                                    <FluentOption Value="null" Selected="@(Input.ZahlungsbedingungId is null)" OnSelect="(val) => Input.ZahlungsbedingungId = null">--- Auswählen ---</FluentOption>
                                    @foreach (var item in Storage.Get<PaymentCondition>())
                                    {
                                        @if (item.AvailableForCustomer || item.PaymentConditionId == Input.ZahlungsbedingungId)
                                        {
                                            <FluentOption TOption="PaymentCondition" Value="@item.PaymentConditionId.ToString()" Selected="@(Input.ZahlungsbedingungId == item.PaymentConditionId)" OnSelect="(val) => Input.ZahlungsbedingungId = item.PaymentConditionId">@item.GetName(Storage.DEFAULT_LANGUAGE)</FluentOption>
                                        }
                                    }
                                </FluentSelect>
                                <FluentValidationMessage For="() => Input.ZahlungsbedingungId" />
                            </div>
                            <div class="col-md-6">
                                <FluentSelect TOption="Currency" Label="Währung" Width="100%;">
                                    <FluentOption Value="null" Selected="@(Input.Waehrungscode is null)" OnSelect="(val) => Input.Waehrungscode = null">--- Auswählen ---</FluentOption>
                                    @foreach (var item in Storage.Get<Currency>())
                                    {
                                        <FluentOption TOption="Currency" Value="@item.Code.ToString()" Selected="@(Input.Waehrungscode == item.Code)" OnSelect="(val) => Input.Waehrungscode = item.Code">@item.Code</FluentOption>
                                    }
                                </FluentSelect>
                                <FluentValidationMessage For="() => Input.Waehrungscode" />
                            </div>
                            <div class="col-md-6">
                                <FluentNumberField @bind-Value="Input.Kreditlimit" Label="Kreditlimit" />
                                <FluentValidationMessage For="() => Input.Kreditlimit" />
                            </div>

                            <div class="col-md-6">
                                <div class="input-group">
                                    <FluentTextField @bind-Value="Input.UmsatzsteuerIdentifikationsnummer" Label="Ust. ID-Nummer" />
                                    <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.BuildingBank().WithColor(Color.Fill))" />
                                </div>
                                <FluentValidationMessage For="() => Input.UmsatzsteuerIdentifikationsnummer" />
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <FluentTextField @bind-Value="Input.IBAN" Label="IBAN" />
                                        <FluentValidationMessage For="() => Input.IBAN" />
                                    </div>
                                    <div class="col-md-6">
                                        <FluentTextField @bind-Value="Input.BIC" Label="BIC" />
                                        <FluentValidationMessage For="() => Input.BIC" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="row">
                        </div>
                    </div>
                </div>
            </Content>
        </FluentTab>
        <FluentTab Label="Historie">
            <Content>

            </Content>
        </FluentTab>
    </FluentTabs>
</EditForm>
