@inherits SearchComponentBase<Address, AddressService, AddressFilter>

<div class="d-flex justify-content-end mb-2">
    @if (NewButtonTemplate is not null)
    {
        @NewButtonTemplate
    }
    else
    {
        <FluentAnchor Href="/Addresses/Edit" Target="_blank" Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.Add().WithColor("#fff"))" Style="background-color: var(--bg-success); color: #fff;">
            Neue Anschrift
        </FluentAnchor>
    }
</div>

<div class="row">
    <div class="col-md-9">
        <div style="display: table; table-layout: fixed; width: 100%;">
            <div style="overflow-x: auto;">
                <FluentDataGrid Items="@Data.AsQueryable()" TGridItem="Address" Style="min-width: max-content;">
                    <TemplateColumn Title="Aktion">
                        <FluentButton @onclick="async () => await OnItemSelected.InvokeAsync(context)">Auswählen</FluentButton>
                    </TemplateColumn>
                    <PropertyColumn Property="@(p => p.AddressId)" Title="#" />
                    <PropertyColumn Property="@(p => p.GetName())" Title="Firma/Name" />
                    <PropertyColumn Property="@(p => p.Street)" Title="Straße" />
                    <PropertyColumn Property="@(p => p.PostalCode)" Title="Postleitzahl" />
                    <PropertyColumn Property="@(p => p.City)" Title="Ort" />
                </FluentDataGrid>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <FluentCard Height="auto">
            <h4>Filter</h4>

            <EditForm Model="Filter" OnValidSubmit="async () => await LoadAsync(true)">
                <FluentStack Orientation="Orientation.Vertical">
                    <FluentTextField @bind-Value="Filter.SearchPhrase" Immediate="true" Label="Suchbegriff" Placeholder="Name" />

                    <FluentButton Type="ButtonType.Submit" IconStart="@(new Icons.Regular.Size20.Search())"
                                  Appearance="Appearance.Accent">
                        Suchen
                    </FluentButton>
                </FluentStack>

            </EditForm>
        </FluentCard>

    </div>
</div>




@if (TotalPages > 1)
{
    <EventPagination CurrentPageNumber="Page"
                     TotalItems="TotalItems"
                     ItemsPerPage="Filter.Limit"
                     OnPageChanged="OnPageChangedAsync" />
}

@code {
    [Parameter]
    public RenderFragment? NewButtonTemplate { get; set; }
}