@page "/Admin/Configuration/Edit"
@using BlazorERP.Core.Validators.Admin
@using Microsoft.AspNetCore.Identity
@inject AuthService authService
@inherits EditPageBase<int?, Configuration, ConfigurationService>
@inject LanguageService spracheService
@inject IMessageService messageService
@inject IDialogService DialogService
<PageTitle>@FinalBreadcrumbItemName</PageTitle>

<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="/">Start</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>Administration</FluentBreadcrumbItem>
    <FluentBreadcrumbItem Href="/Admin/Configuration">Voreinstellungen</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>@FinalBreadcrumbItemName</FluentBreadcrumbItem>
</FluentBreadcrumb>
@if (Input is null)
{
    return;
}
<FluentStack HorizontalAlignment="HorizontalAlignment.End">
    <FluentAnchor Href="/Admin/Configuration"
                  IconStart="@(new Icons.Regular.Size20.ArrowReply())">
        Zurück
    </FluentAnchor>

    <FluentButton IconStart="@(new Icons.Regular.Size20.Save())"
                  Appearance="Appearance.Accent"
                  OnClick="SaveAsync">

        Speichern
    </FluentButton>
</FluentStack>

<EditForm Model="Input" @ref="_form">
    <FluentValidationValidator Validator="_validator" />
    <FluentTabs>
        <FluentTab Label="Allgemein">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        @if (Modus is EditMode.Edit)
                        {
                            <div class="col-12">
                                <FluentNumberField @bind-Value="Input.ConfigurationId" Label="VoreinstellungId" Disabled />
                                <FluentValidationMessage For="() => Input.ConfigurationId" />
                            </div>
                        }

                        <div class="col-12">
                            <FluentTextField @bind-Value="Input.Name" Label="Name" />
                            <FluentValidationMessage For="() => Input.Name" />
                        </div>

                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="row">
                        @if (Modus is EditMode.Edit)
                        {
                            <div class="col-12">
                                <FluentDatePicker Appearance="FluentInputAppearance.Filled" Label="Letzte Änderung" @bind-Value="@Input.LastModified" ReadOnly />
                            </div>

                            <div class="col-12">
                                <FluentTextField Appearance="FluentInputAppearance.Filled" Label="Letzter Bearbeiter" Value="@Input.BearbeiterName" ReadOnly />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </FluentTab>
        <FluentTab Label="Kunden">
            <Content>
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <FluentSelect TOption="Country" Label="Land" Width="100%;">
                                    <FluentOption Value="null" Selected="@(Input.CustomerCountryId is null)" OnSelect="(val) => Input.CustomerCountryId = null">--- Auswählen ---</FluentOption>
                                    @foreach (var item in Storage.Get<Country>())
                                    {
                                        <FluentOption TOption="Country" Value="@item.CountryId.ToString()" Selected="@(Input.CustomerCountryId == item.CountryId)" OnSelect="(val) => Input.CustomerCountryId = item.CountryId">@item.GetName(Storage.DEFAULT_LANGUAGE)</FluentOption>
                                    }
                                </FluentSelect>
                                <FluentValidationMessage For="() => Input.CustomerCountryId" />
                            </div>
                            <div class="col-md-6">
                                <FluentSelect TOption="Language" Label="Sprache" Width="100%;">
                                    <FluentOption Value="null" Selected="@(Input.CustomerLanguageId is null)" OnSelect="(val) => Input.CustomerLanguageId = null">--- Auswählen ---</FluentOption>
                                    @foreach (var item in Storage.Get<Language>())
                                    {
                                        <FluentOption TOption="Language" Value="@item.LanguageId.ToString()" Selected="@(Input.CustomerLanguageId == item.LanguageId)" OnSelect="(val) => Input.CustomerLanguageId = item.LanguageId">@item.GetName(Storage.DEFAULT_LANGUAGE)</FluentOption>
                                    }
                                </FluentSelect>
                                <FluentValidationMessage For="() => Input.CustomerLanguageId" />
                            </div>
                            <div class="col-md-6">
                                <FluentSelect TOption="DeliveryCondition" Label="Lieferbedingung" Width="100%;">
                                    <FluentOption Value="null" Selected="@(Input.CustomerDeliveryConditionId is null)" OnSelect="(val) => Input.CustomerDeliveryConditionId = null">--- Auswählen ---</FluentOption>
                                    @foreach (var item in Storage.Get<DeliveryCondition>())
                                    {
                                        <FluentOption TOption="DeliveryCondition" Value="@item.DeliveryConditionId.ToString()" Selected="@(Input.CustomerDeliveryConditionId == item.DeliveryConditionId)" OnSelect="(val) => Input.CustomerDeliveryConditionId = item.DeliveryConditionId">@item.GetName(Storage.DEFAULT_LANGUAGE)</FluentOption>
                                    }
                                </FluentSelect>
                                <FluentValidationMessage For="() => Input.CustomerDeliveryConditionId" />
                            </div>
                            <div class="col-md-6">
                                <FluentSelect TOption="PaymentCondition" Label="Zahlungsbedingung" Width="100%;">
                                    <FluentOption Value="null" Selected="@(Input.CustomerPaymentConditionId is null)" OnSelect="(val) => Input.CustomerPaymentConditionId = null">--- Auswählen ---</FluentOption>
                                    @foreach (var item in Storage.Get<PaymentCondition>())
                                    {
                                        <FluentOption TOption="PaymentCondition" Value="@item.PaymentConditionId.ToString()" Selected="@(Input.CustomerPaymentConditionId == item.PaymentConditionId)" OnSelect="(val) => Input.CustomerPaymentConditionId = item.PaymentConditionId">@item.GetName(Storage.DEFAULT_LANGUAGE)</FluentOption>
                                    }
                                </FluentSelect>
                                <FluentValidationMessage For="() => Input.CustomerPaymentConditionId" />
                            </div>
                            <div class="col-md-6">
                                <FluentSelect TOption="Salutation" Label="Anrede" Width="100%;">
                                    <FluentOption Value="null" Selected="@(Input.CustomerSalutationId is null)" OnSelect="(val) => Input.CustomerSalutationId = null">--- Auswählen ---</FluentOption>
                                    @foreach (var item in Storage.Get<Salutation>())
                                    {
                                        <FluentOption TOption="Salutation" Value="@item.SalutationId.ToString()" Selected="@(Input.CustomerSalutationId == item.SalutationId)" OnSelect="(val) => Input.CustomerSalutationId = item.SalutationId">@item.GetName(Storage.DEFAULT_LANGUAGE)</FluentOption>
                                    }
                                </FluentSelect>
                                <FluentValidationMessage For="() => Input.CustomerSalutationId" />
                            </div>
                            <div class="col-md-6">
                                <FluentSelect TOption="Currency" Label="Währung" Width="100%;">
                                    <FluentOption Value="null" Selected="@(Input.CustomerCurrencyCode is null)" OnSelect="(val) => Input.CustomerCurrencyCode = null">--- Auswählen ---</FluentOption>
                                    @foreach (var item in Storage.Get<Currency>())
                                    {
                                        <FluentOption TOption="Currency" Value="@item.Code" Selected="@(Input.CustomerCurrencyCode == item.Code)" OnSelect="(val) => Input.CustomerCurrencyCode = item.Code">@item.Code</FluentOption>
                                    }
                                </FluentSelect>
                                <FluentValidationMessage For="() => Input.CustomerCurrencyCode" />
                            </div>
                            <div class="col-md-6">
                                <FluentNumberField @bind-Value="Input.CustomerCreditLimit" Label="Kreditlimit" />
                                <FluentValidationMessage For="() => Input.CustomerCreditLimit" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column gap-2 mt-2">
                                    <FluentSwitch @bind-Value="@Input.CustomerNeutralShipping" Label="Neutraler Versand" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </Content>
        </FluentTab>

    </FluentTabs>
</EditForm>
@code {


    private bool _showOptionsMenu;
    private VoreinstellungValidator _validator = new();


    protected override string GetListUrl() => "/Admin/Configuration";
    protected override string GetEntityRedirectUrl() => $"/Admin/Configuration/Edit?configurationId={Input!.GetIdentifier()}";

    protected override async Task OnInitializedAsync()
    {
        using IDbController dbController = new FbController();

        User = await AuthService.GetUserAsync(dbController);
    }



    [Parameter, SupplyParameterFromQuery(Name = "configurationId")]
    public override int? Identifier { get; set; }




    protected override Task BeforeSaveAsync(IDbController dbController)
    {
        Input.LastModifiedBy = User.UserId;
        Input.LastModified = DateTime.Now;

        return Task.CompletedTask;
    }

}