@page "/Admin/NumberRanges/Edit"
@using BlazorERP.Core.Validators.Admin
@using Microsoft.AspNetCore.Identity
@inject AuthService authService
@inherits EditPageBase<int?, NumberRange, NumberRangeService>
@inject LanguageService spracheService
@inject IMessageService messageService
<PageTitle>@FinalBreadcrumbItemName</PageTitle>

<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="/">Start</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>Administration</FluentBreadcrumbItem>
    <FluentBreadcrumbItem Href="/Admin/NumberRanges">Nummernkreise</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>@FinalBreadcrumbItemName</FluentBreadcrumbItem>
</FluentBreadcrumb>
@if (Input is null)
{
    return;
}
<FluentStack HorizontalAlignment="HorizontalAlignment.End">
    <FluentAnchor Href="/Admin/NumberRanges"
                  IconStart="@(new Icons.Regular.Size20.ArrowReply())">
        Zurück
    </FluentAnchor>

    <FluentButton IconStart="@(new Icons.Regular.Size20.Save())"
                  Appearance="Appearance.Accent"
                  OnClick="SaveAsync">

        Speichern
    </FluentButton>
</FluentStack>

<EditForm Model="Input" @ref="_form">
    <FluentValidationValidator Validator="_validator" />
    <FluentTabs>
        <FluentTab Label="Allgemein">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        @if (Modus is EditMode.Edit)
                        {
                            <div class="col-12">
                                <FluentNumberField @bind-Value="Input.NumberRangeId" Label="NummernkreisId" Disabled />
                                <FluentValidationMessage For="() => Input.NumberRangeId" />
                            </div>
                        }

                        <div class="col-12">
                            <FluentTextField @bind-Value="Input.Name" Label="Name" />
                            <FluentValidationMessage For="() => Input.Name" />
                        </div>

                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="row">
                        @if (Modus is EditMode.Edit)
                        {
                            <div class="col-12">
                                <FluentDatePicker Appearance="FluentInputAppearance.Filled" Label="Letzte Änderung" @bind-Value="@Input.LastModified" ReadOnly />
                            </div>

                            <div class="col-12">
                                <FluentTextField Appearance="FluentInputAppearance.Filled" Label="Letzter Bearbeiter" Value="@Input.LastModifiedName" ReadOnly />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </FluentTab>
        <FluentTab Label="Stammdaten">
            <Content>
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <FluentNumberField @bind-Value="Input.CustomerFrom" Label="Kunde Von" />
                                <FluentValidationMessage For="() => Input.CustomerFrom" />
                            </div>

                            <div class="col-md-6">
                                <FluentNumberField @bind-Value="Input.CustomerTo" Label="Kunde Bis" />
                                <FluentValidationMessage For="() => Input.CustomerTo" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                    </div>
                </div>
            </Content>
        </FluentTab>

    </FluentTabs>
</EditForm>
@code {


    private bool _showOptionsMenu;
    private NumberRangeValidator _validator = new();


    protected override string GetListUrl() => "/Admin/NumberRanges";
    protected override string GetEntityRedirectUrl() => $"/Admin/NumberRanges/Edit?numberRangeId={Input!.GetIdentifier()}";

    protected override async Task OnInitializedAsync()
    {
        using IDbController dbController = new FbController();

        User = await AuthService.GetUserAsync(dbController);
    }

    [Parameter, SupplyParameterFromQuery(Name = "numberRangeId")]
    public override int? Identifier { get; set; }

    protected override Task BeforeSaveAsync(IDbController dbController)
    {
        Input.LastModifiedBy = User.UserId;
        Input.LastModified = DateTime.Now;

        return Task.CompletedTask;
    }

}