@page "/Addresses/Edit"
@using BlazorERP.Core.Validators.Admin.Hilfsdaten
@using Microsoft.AspNetCore.Identity
@inherits EditPageBase<int?, Address, AddressService>

<PageTitle>@FinalBreadcrumbItemName</PageTitle>

<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="/">Start</FluentBreadcrumbItem>
    <FluentBreadcrumbItem Href="/Addresses">Anschriften</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>@FinalBreadcrumbItemName</FluentBreadcrumbItem>
</FluentBreadcrumb>
@if (Input is null)
{
    return;
}
<FluentStack HorizontalAlignment="HorizontalAlignment.End">
    <FluentAnchor Href="/Addresses"
                  IconStart="@(new Icons.Regular.Size20.ArrowReply())">
        Zurück
    </FluentAnchor>

    @if (Modus is EditMode.Edit)
    {
        <FluentButton id="btnOpen1" Appearance="Appearance.Accent" @onclick="@(() => _showOptionsMenu = !_showOptionsMenu)">
            Optionen
        </FluentButton>

        <FluentMenu Anchor="btnOpen1" @bind-Open="_showOptionsMenu" VerticalThreshold="170">
            <FluentMenuItem OnClick="ShowDeleteModalAsync">Anschrift löschen</FluentMenuItem>
        </FluentMenu>
    }

    <FluentButton IconStart="@(new Icons.Regular.Size20.Save())"
                  Appearance="Appearance.Accent"
                  OnClick="SaveAsync">

        Speichern
    </FluentButton>
</FluentStack>

<EditForm Model="Input" @ref="_form">
    <FluentValidationValidator Validator="_validator" />
    <FluentTabs>
        <FluentTab Label="Allgemein">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        @if (Modus is EditMode.Edit)
                        {
                            <div class="col-md-12">
                                <FluentNumberField @bind-Value="Input.AddressId" Label="Id" Disabled />
                            </div>
                        }

                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-12">
                                        <FluentTextField @bind-Value="Input.Company" Label="Firma" />
                                        <FluentValidationMessage For="() => Input.Company" />
                                    </div>
                                    <div class="col-12">
                                        <FluentTextField @bind-Value="Input.Name1" Label="Name 1" />
                                        <FluentValidationMessage For="() => Input.Name1" />
                                    </div>
                                    <div class="col-12">
                                        <FluentTextField @bind-Value="Input.Name2" Label="Name 2" />
                                        <FluentValidationMessage For="() => Input.Name2" />
                                    </div>

                                    <div class="col-12">
                                        <FluentTextField @bind-Value="Input.Street" Label="Straße" />
                                        <FluentValidationMessage For="() => Input.Street" />
                                    </div>


                                    <div class="col-md-4">
                                        <FluentCombobox Items="@(Storage.Get<Country>())"
                                                        Height="300px"
                                                        Autocomplete="ComboboxAutocomplete.Both"
                                                        Label="Land"
                                                        OptionText="@(i => i!.GetName(Storage.DEFAULT_LANGUAGE))"
                                                        OptionValue="@(i => i!.CountryId.ToString())"
                                                        OptionSelected="@(i => i!.CountryId == Input.CountryId)"
                                                        @bind-SelectedOption="@Input.Country" />

                                    </div>

                                    <div class="col-md-4">
                                        <FluentTextField @bind-Value="Input.PostalCode" Label="Postleitzahl" />
                                        <FluentValidationMessage For="() => Input.PostalCode" />
                                    </div>

                                    <div class="col-md-4">
                                        <FluentTextField @bind-Value="Input.City" Label="Ort" />
                                        <FluentValidationMessage For="() => Input.City" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <FluentTextField @bind-Value="Input.PhoneNumber" Label="Telefonnummer" />
                                        <FluentValidationMessage For="() => Input.PhoneNumber" />
                                    </div>
                                    <div class="col-md-6">
                                        <FluentTextField @bind-Value="Input.MobileNumber" Label="Mobilnummer" />
                                        <FluentValidationMessage For="() => Input.MobileNumber" />
                                    </div>
                                    <div class="col-md-6">
                                        <FluentTextField @bind-Value="Input.FaxNumber" Label="Faxnummer" />
                                        <FluentValidationMessage For="() => Input.FaxNumber" />
                                    </div>
                                    <div class="col-md-6">
                                        <FluentTextField @bind-Value="Input.Email" Label="E-Mail" />
                                        <FluentValidationMessage For="() => Input.Email" />
                                    </div>
                                    <div class="col-md-6">
                                        <FluentSelect TOption="Language" Label="Sprache" Width="100%;">
                                            <FluentOption Value="null" Selected="@(Input.LanguageId is null)" OnSelect="(val) => Input.LanguageId = null">--- Auswählen ---</FluentOption>
                                            @foreach (var item in Storage.Get<Language>())
                                            {
                                                <FluentOption TOption="Language" Value="@item.LanguageId.ToString()" Selected="@(Input.LanguageId == item.LanguageId)" OnSelect="(val) => Input.LanguageId = item.LanguageId">@item.GetName(Storage.DEFAULT_LANGUAGE)</FluentOption>
                                            }
                                        </FluentSelect>
                                        <FluentValidationMessage For="() => Input.LanguageId" />
                                    </div>
                                    <div class="col-md-6">
                                        <FluentTextField @bind-Value="Input.VatIdentificationNumber" Label="Ust. ID-Nummer" />
                                        <FluentValidationMessage For="() => Input.VatIdentificationNumber" />
                                    </div>
                                    <div class="col-12">
                                        <FluentTextArea @bind-Value="Input.Note" Label="Notiz" Class="w-100" Rows="6" />
                                    </div>
                                </div>
                            </div>
                        </div>





                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="row">
                        @if (Modus is EditMode.Edit)
                        {
                            <div class="col-12">
                                <FluentDatePicker Appearance="FluentInputAppearance.Filled" Label="Letzte Änderung" @bind-Value="@Input.LastModified" ReadOnly />
                            </div>

                            <div class="col-12">
                                <FluentTextField Appearance="FluentInputAppearance.Filled" Label="Letzter Bearbeiter" Value="@Input.BearbeiterName" ReadOnly />
                            </div>

                        }
                    </div>
                </div>
            </div>
        </FluentTab>
    </FluentTabs>
</EditForm>
@code {


    private bool _showOptionsMenu;
    private PaymentConditionValidator _validator = new();

    protected override string GetListUrl() => "/Addresses";
    protected override string GetEntityRedirectUrl() => $"/Addresses/Edit?addressId={Input!.GetIdentifier()}";



    [Parameter, SupplyParameterFromQuery(Name = "addressId")]
    public override int? Identifier { get; set; }


    protected override Task BeforeSaveAsync(IDbController dbController)
    {
        Input.LastModifiedBy = User.UserId;
        Input.LastModified = DateTime.Now;

        return Task.CompletedTask;
    }

}