@page "/Customers/Edit"
@using BlazorERP.Core.Validators.Admin.Hilfsdaten
@using BlazorERP.Core.Validators.Stammdaten
@using Microsoft.AspNetCore.Identity
@using System.Text.RegularExpressions
@inherits EditPageBase<string?, Customer, CustomerService>
@inject ConfigurationService voreinstellungService

<PageTitle>@FinalBreadcrumbItemName</PageTitle>

<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="/">Start</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>Administration</FluentBreadcrumbItem>
    <FluentBreadcrumbItem Href="/Data/Customers">Kunden</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>@FinalBreadcrumbItemName</FluentBreadcrumbItem>
</FluentBreadcrumb>
@if (Input is null)
{
    return;
}
<FluentStack HorizontalAlignment="HorizontalAlignment.End">
    <FluentAnchor Href="/Data/Customers"
                  IconStart="@(new Icons.Regular.Size20.ArrowReply())">
        Zurück
    </FluentAnchor>

    @if (Modus is EditMode.Edit)
    {
        <FluentButton id="btnOpen1" Appearance="Appearance.Accent" @onclick="@(() => _showOptionsMenu = !_showOptionsMenu)">
            Optionen
        </FluentButton>

        <FluentMenu Anchor="btnOpen1" @bind-Open="_showOptionsMenu" VerticalThreshold="170">
            <FluentMenuItem OnClick="ShowDeleteModalAsync">Kunde löschen</FluentMenuItem>
        </FluentMenu>
    }

    <FluentButton IconStart="@(new Icons.Regular.Size20.Save())"
                  Appearance="Appearance.Accent"
                  OnClick="SaveAsync">

        Speichern
    </FluentButton>
</FluentStack>

<EditForm Model="Input" @ref="_form">
    <FluentValidationValidator Validator="_validator" />
    <FluentTabs>
        <FluentTab Label="Allgemein">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <FluentTextField @bind-Value="Input.Company" Label="Firma" />
                            <FluentValidationMessage For="() => Input.Company" />

                            <FluentTextField @bind-Value="Input.Name1" Label="Name1" />
                            <FluentValidationMessage For="() => Input.Name1" />

                            <FluentTextField @bind-Value="Input.Name2" Label="Name2" />
                            <FluentValidationMessage For="() => Input.Name2" />

                            <FluentTextField @bind-Value="Input.Street" Label="Straße" />
                            <FluentValidationMessage For="() => Input.Street" />

                            <div class="row">
                                <div class="col-lg-4">
                                    <FluentCombobox Items="@(Storage.Get<Country>())"
                                                    Height="300px"
                                                    Autocomplete="ComboboxAutocomplete.Both"
                                                    Label="Land"
                                                    Class="w-100"
                                                    OptionText="@(i => i!.GetName(Storage.DEFAULT_LANGUAGE))"
                                                    OptionValue="@(i => i!.CountryId.ToString())"
                                                    OptionSelected="@(i => i!.CountryId is int countryId && countryId == Input.CountryId)"
                                                    @bind-SelectedOption="@Input.Country"
                                                    @bind-SelectedOption:after="() => Input.CountryId = Input.Country?.CountryId" />
                                    <p>ID: @(Input.Country?.CountryId.ToString() ?? "<NULL>")</p>
                                </div>
                                <div class="col-lg-4">
                                    <FluentTextField @bind-Value="Input.PostalCode" Label="Postleitzahl" />
                                    <FluentValidationMessage For="() => Input.PostalCode" />
                                </div>
                                <div class="col-lg-4">
                                    <FluentTextField @bind-Value="Input.City" Label="Ort" />
                                    <FluentValidationMessage For="() => Input.City" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="row">
                                <div class="col-6">
                                    <FluentSelect TOption="Language" Label="Sprache" Width="100%;">
                                        <FluentOption Value="null" Selected="@(Input.LanguageId is null)" OnSelect="(val) => Input.LanguageId = null">--- Auswählen ---</FluentOption>
                                        @foreach (var item in Storage.Get<Language>())
                                        {
                                            <FluentOption TOption="Language" Value="@item.LanguageId.ToString()" Selected="@(Input.LanguageId == item.LanguageId)" OnSelect="(val) => Input.LanguageId = item.LanguageId">@item.GetName(Storage.DEFAULT_LANGUAGE)</FluentOption>
                                        }
                                    </FluentSelect>
                                    <FluentValidationMessage For="() => Input.LanguageId" />
                                </div>

                                <div class="col-6">
                                    <FluentSelect TOption="Salutation" Label="Anrede" Width="100%;">
                                        <FluentOption Value="null" Selected="@(Input.SalutationId is null)" OnSelect="(val) => Input.SalutationId = null">--- Auswählen ---</FluentOption>
                                        @foreach (var item in Storage.Get<Salutation>())
                                        {
                                            <FluentOption TOption="Salutation" Value="@item.SalutationId.ToString()" Selected="@(Input.SalutationId == item.SalutationId)" OnSelect="(val) => Input.SalutationId = item.SalutationId">@item.GetName(Storage.DEFAULT_LANGUAGE)</FluentOption>
                                        }
                                    </FluentSelect>
                                    <FluentValidationMessage For="() => Input.SalutationId" />
                                </div>
                                <div class="col-md-6">
                                    <FluentTextField @bind-Value="Input.PhoneNumber" Label="Telefonnummer" />
                                    <FluentValidationMessage For="() => Input.PhoneNumber" />
                                </div>
                                <div class="col-md-6">
                                    <FluentTextField @bind-Value="Input.MobileNumber" Label="Mobilnummer" />
                                    <FluentValidationMessage For="() => Input.MobileNumber" />
                                </div>

                                <div class="col-md-6">
                                    <FluentTextField Value="@Input.Email"
                                                     ValueChanged="OnEmailChanged"
                                                     ValueExpression="() => Input.Email"
                                                     Label="E-Mail" />
                                    <FluentValidationMessage For="() => Input.Email" />
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <FluentTextField @bind-Value="Input.Website" Immediate="true" Label="Website" />
                                        <FluentAnchor Appearance="Appearance.Accent" Href="@StringExtensions.ParseUrl(Input.Website)" Target="_blank" IconStart="@(new Icons.Regular.Size20.Open().WithColor(Color.Fill))" />
                                    </div>
                                    <FluentValidationMessage For="() => Input.Website" />
                                </div>
                                <div class="col-12">
                                    <FluentTextArea @bind-Value="Input.Note" Label="Notiz" Class="w-100" Rows="6" />
                                    <FluentValidationMessage For="() => Input.Note" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="row">
                        @if (Modus is EditMode.Edit)
                        {
                            <div class="col-12">
                                <FluentTextField Value="@Input.CreatedAt.ToShortDateString()" Appearance="FluentInputAppearance.Filled" Label="Anlagedatum" ReadOnly />
                            </div>
                            <div class="col-12">
                                <div class="d-flex flex-column gap-2 mt-2">
                                    <FluentSwitch @bind-Value="@Input.IsBlocked" Label="Gesperrt" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </FluentTab>
        <FluentTab Label="Finanzdaten">
            <Content>
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <FluentSelect TOption="DeliveryCondition" Label="Lieferbedingung" Width="100%;">
                                    <FluentOption Value="null" Selected="@(Input.DeliveryConditionId is null)" OnSelect="(val) => Input.DeliveryConditionId = null">--- Auswählen ---</FluentOption>
                                    @foreach (var item in Storage.Get<DeliveryCondition>())
                                    {
                                        @if (item.AvailableForCustomer || item.DeliveryConditionId == Input.DeliveryConditionId)
                                        {
                                            <FluentOption TOption="DeliveryCondition" Value="@item.DeliveryConditionId.ToString()" Selected="@(Input.DeliveryConditionId == item.DeliveryConditionId)" OnSelect="(val) => Input.DeliveryConditionId = item.DeliveryConditionId">@item.GetName(Storage.DEFAULT_LANGUAGE)</FluentOption>
                                        }
                                    }
                                </FluentSelect>
                                <FluentValidationMessage For="() => Input.DeliveryConditionId" />

                            </div>
                            <div class="col-md-6">
                                <FluentSelect TOption="PaymentCondition" Label="Zahlungsbedingung" Width="100%;">
                                    <FluentOption Value="null" Selected="@(Input.PaymentConditionId is null)" OnSelect="(val) => Input.PaymentConditionId = null">--- Auswählen ---</FluentOption>
                                    @foreach (var item in Storage.Get<PaymentCondition>())
                                    {
                                        @if (item.AvailableForCustomer || item.PaymentConditionId == Input.PaymentConditionId)
                                        {
                                            <FluentOption TOption="PaymentCondition" Value="@item.PaymentConditionId.ToString()" Selected="@(Input.PaymentConditionId == item.PaymentConditionId)" OnSelect="(val) => Input.PaymentConditionId = item.PaymentConditionId">@item.GetName(Storage.DEFAULT_LANGUAGE)</FluentOption>
                                        }
                                    }
                                </FluentSelect>
                                <FluentValidationMessage For="() => Input.PaymentConditionId" />
                            </div>
                            <div class="col-md-6">
                                <FluentSelect TOption="Currency" Label="Währung" Width="100%;">
                                    <FluentOption Value="null" Selected="@(Input.CurrencyCode is null)" OnSelect="(val) => Input.CurrencyCode = null">--- Auswählen ---</FluentOption>
                                    @foreach (var item in Storage.Get<Currency>())
                                    {
                                        <FluentOption TOption="Currency" Value="@item.Code.ToString()" Selected="@(Input.CurrencyCode == item.Code)" OnSelect="(val) => Input.CurrencyCode = item.Code">@item.Code</FluentOption>
                                    }
                                </FluentSelect>
                                <FluentValidationMessage For="() => Input.CurrencyCode" />
                            </div>
                            <div class="col-md-6">
                                <FluentNumberField @bind-Value="Input.CreditLimit" Label="Kreditlimit" />
                                <FluentValidationMessage For="() => Input.CreditLimit" />
                            </div>

                            <div class="col-md-6">
                                <div class="input-group">
                                    <FluentTextField @bind-Value="Input.VatIdentificationNumber" Label="Ust. ID-Nummer" />
                                    <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.BuildingBank().WithColor(Color.Fill))" />
                                </div>
                                <FluentValidationMessage For="() => Input.VatIdentificationNumber" />
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <FluentTextField @bind-Value="Input.IBAN" Label="IBAN" />
                                        <FluentValidationMessage For="() => Input.IBAN" />
                                    </div>
                                    <div class="col-md-6">
                                        <FluentTextField @bind-Value="Input.BIC" Label="BIC" />
                                        <FluentValidationMessage For="() => Input.BIC" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="row">
                        </div>
                    </div>
                </div>
            </Content>
        </FluentTab>
        <FluentTab Label="Anschriften">
            <div class="d-flex justify-content-end gap-1 mb-2">
                @if (SelectedAddress is not null)
                {
                    <FluentButton @onclick="() => RemoveAddress(SelectedAddress)" IconStart="@(new Icons.Regular.Size20.Delete().WithColor(Color.Error))">
                        Zuordnung löschen
                    </FluentButton>

                    <FluentButton @onclick="async () => await EditAddressAsync(SelectedAddress)" Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.Edit().WithColor(Color.Fill))">
                        Anschrift bearbeiten
                    </FluentButton>
                }

                <FluentButton @onclick="ShowAddressSearchModal" IconStart="@(new Icons.Regular.Size20.Add().WithColor("#fff"))" Color="#fff" BackgroundColor="var(--bg-success)">
                    Anschrift zuordnen
                </FluentButton>
            </div>

            <div class="row">
                <div class="col-md-2 mb-3">
                    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                        @foreach (var address in Input.Addresses)
                        {
                            <button type="button" role="tab" @onclick="() => SelectedAddress = address" class="@GetTabNavLinkClass(SelectedAddress == address)" id="address-tab-@address.GetHashCode()" data-bs-toggle="pill">
                                (@address.AddressId) @address.GetName() - @address.Street
                            </button>
                        }
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="tab-content">
                        @foreach (var address in Input.Addresses)
                        {
                            <div class="position @GetTabClass(SelectedAddress == address)" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <FluentTextField Value="@address.Company" Label="Firma" ReadOnly Appearance="FluentInputAppearance.Filled" />

                                                        <FluentTextField Value="@address.Name1" Label="Name 1" ReadOnly Appearance="FluentInputAppearance.Filled" />

                                                        <FluentTextField Value="@address.Name2" Label="Name 2" ReadOnly Appearance="FluentInputAppearance.Filled" />

                                                        <FluentTextField Value="@address.Street" Label="Straße" ReadOnly Appearance="FluentInputAppearance.Filled" />
                                                    </div>

                                                    <div class="col-md-4">
                                                        <FluentTextField Value="@address.Country?.GetName(Storage.DEFAULT_LANGUAGE)" Label="Land" ReadOnly Appearance="FluentInputAppearance.Filled" />
                                                    </div>

                                                    <div class="col-md-4">
                                                        <FluentTextField Value="@address.PostalCode" Label="Postleitzahl" ReadOnly Appearance="FluentInputAppearance.Filled" />
                                                    </div>

                                                    <div class="col-md-4">
                                                        <FluentTextField Value="@address.City" Label="Ort" ReadOnly Appearance="FluentInputAppearance.Filled" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <FluentTextField Value="@address.PhoneNumber" Label="Telefonnummer" ReadOnly Appearance="FluentInputAppearance.Filled" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <FluentTextField Value="@address.MobileNumber" Label="Mobilnummer" ReadOnly Appearance="FluentInputAppearance.Filled" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <FluentTextField Value="@address.FaxNumber" Label="Faxnummer" ReadOnly Appearance="FluentInputAppearance.Filled" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <FluentTextField Value="@address.Email" Label="E-Mail" ReadOnly Appearance="FluentInputAppearance.Filled" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <FluentTextField Value="@address.Language?.GetName(Storage.DEFAULT_LANGUAGE)" Label="Sprache" ReadOnly Appearance="FluentInputAppearance.Filled" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <FluentTextField Value="@address.VatIdentificationNumber" Label="Ust. ID-Nummer" ReadOnly Appearance="FluentInputAppearance.Filled" />
                                                    </div>
                                                    <div class="col-12">
                                                        <FluentTextArea Value="@address.Note" Label="Notiz" Class="w-100" Rows="6" ReadOnly Appearance="FluentInputAppearance.Filled" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 ">

                                        <FluentNumberField Value="@address.AddressId" Label="Id" ReadOnly Appearance="FluentInputAppearance.Filled" />

                                        <FluentDatePicker Value="@address.LastModified" Label="Letzte Änderung" ReadOnly Appearance="FluentInputAppearance.Filled" />

                                        <FluentTextField Value="@address.LastModifiedName" Label="Letzter Bearbeiter" ReadOnly Appearance="FluentInputAppearance.Filled" />

                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </FluentTab>
        <FluentTab Label="Ansprechpartner">

        </FluentTab>
        <FluentTab Label="Historie">

        </FluentTab>
    </FluentTabs>
</EditForm>

<Modal @ref="_addressSearchModal" Title="Anschriftsuche" Class="modal-fullscreen">
    <AddressSearch OnItemSelected="AddAdress" Filter="AddressFilter">
        <NewButtonTemplate>
            <FluentButton @onclick="async () => await EditAddressAsync(null)" Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.Add().WithColor("#fff"))" Style="background-color: var(--bg-success); color: #fff;">
                Neue Anschrift
            </FluentButton>
        </NewButtonTemplate>
    </AddressSearch>
</Modal>

@code {
    private bool _showOptionsMenu;
    private CustomerValidator _validator = new();
    private Modal _addressSearchModal = default!;

    protected override string GetListUrl() => "/Customers/Edit";
    protected override string GetEntityRedirectUrl() => $"/Customers/Edit?customerNumber={Input!.GetIdentifier()}";



    [Parameter, SupplyParameterFromQuery(Name = "customerNumber")]
    public override string? Identifier { get; set; }

    public Address? SelectedAddress { get; set; }
    public AddressFilter AddressFilter { get; set; } = new();



    protected override async Task InitializeModelAsync(bool newEntry, IDbController dbController)
    {
        if (Input == null)
        {
            throw new InvalidOperationException("Input must not be null.");
        }

        if (newEntry)
        {
            var defaults = await voreinstellungService.GetAsync(1, dbController);

            if (defaults is not null)
            {
                Input.SalutationId = defaults.CustomerSalutationId;
                Input.NeutralShipping = defaults.CustomerNeutralShipping;
                Input.CurrencyCode = defaults.CustomerCurrencyCode;
                Input.LanguageId = defaults.CustomerLanguageId;
                Input.CreditLimit = defaults.CustomerCreditLimit;
                Input.CountryId = defaults.CustomerCountryId;
                Input.PaymentConditionId = defaults.CustomerPaymentConditionId;
                Input.DeliveryConditionId = defaults.CustomerDeliveryConditionId;
            }
        }
        else
        {
            SelectedAddress = Input.Addresses.FirstOrDefault();
            // Temp solution for https://github.com/microsoft/fluentui-blazor/issues/2101
            Input.Country = Storage.Get<Country, int?>(Input.CountryId);
        }
    }

    protected override Task BeforeSaveAsync(IDbController dbController)
    {
        if (Input == null)
        {
            throw new InvalidOperationException("Input must not be null.");
        }

        if (User == null)
        {
            throw new InvalidOperationException("User must not be null.");
        }

        if (Modus is EditMode.Create)
        {
            Input.CreatedAt = DateTime.Now;
        }

        Input.LastModifiedBy = User.UserId;
        Input.LastModified = DateTime.Now;

        return Task.CompletedTask;
    }

    private void OnEmailChanged(string email)
    {
        if (Input == null)
        {
            throw new InvalidOperationException("Input must not be null.");
        }

        Input.Email = email;
        string domain = Regex.Replace(email, @".*@", "");

        if (string.IsNullOrWhiteSpace(Input.Website))
        {
            Input.Website = domain;
        }
    }



    private void RemoveAddress(Address address)
    {
        Input!.Addresses.Remove(address);

        SelectedAddress = Input.Addresses.FirstOrDefault();
    }


    private void AddAdress(Address address)
    {
        Input.Addresses.Add(address);
        SelectedAddress = address;
        _addressSearchModal.Hide();
    }

    private void ShowAddressSearchModal()
    {
        AddressFilter.Blocked = Input.Addresses.Select(x => x.AddressId).ToList();
        _addressSearchModal.Show();
    }

    private async Task EditAddressAsync(Address? address)
    {
        if (Input is null)
        {
            return;
        }

        if (address is null)
        {
            _addressSearchModal.Hide();
        }

        var input = address is null ? new() : address.DeepCopyByExpressionTree();

        var dialog = await DialogService.ShowDialogAsync<AddressDialog>(input, new DialogParameters()
            {
                Title = address is null ? "Neue Anschrift" : "Anschrift bearbeiten",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true,
            });

        var result = await dialog.Result;
        if (!result.Cancelled && result.Data != null)
        {
            var result_address = (Address)result.Data;
            if (address is not null)
            {
                var index = Input.Addresses.IndexOf(address);
                Input.Addresses[index] = result_address;
            }
            else
            {
                Input.Addresses.Add(result_address);
            }

            SelectedAddress = result_address;
        }

    }
}