@page "/Admin/Users/Edit"
@using BlazorERP.Core.Validators.Admin.Users
@using Microsoft.AspNetCore.Identity
@inject AuthService authService
@inherits EditPageBase<int?, User, UserService>
@inject IMessageService messageService
@inject IDialogService DialogService
@rendermode InteractiveServer
<PageTitle>@FinalBreadcrumbItemName</PageTitle>


<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="/">Start</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>Administration</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>Benutzer</FluentBreadcrumbItem>
    <FluentBreadcrumbItem Href="/Admin/Users">Benutzerliste</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>@FinalBreadcrumbItemName</FluentBreadcrumbItem>
</FluentBreadcrumb>
@if (Input is null)
{
    return;
}
<FluentButton Appearance=Appearance.Neutral @onclick="@(() => ToastService.ShowSuccess("Success confirmation."))">
    <FluentIcon Value="@(new Icons.Filled.Size20.CheckmarkCircle())" Color="@Color.Success" Slot="start" />
    Show Success
</FluentButton>
<FluentGrid>
    <FluentGridItem xs="12">
        <FluentStack HorizontalAlignment="HorizontalAlignment.End">
            <FluentAnchor Href="/Admin/Users"
                          IconStart="@(new Icons.Regular.Size20.ArrowReply())">
                Zurück
            </FluentAnchor>

            <FluentButton id="btnOpen1" Appearance="Appearance.Accent" @onclick="@(() => _showOptionsMenu = !_showOptionsMenu)">
                Optionen
            </FluentButton>

            <FluentMenu Anchor="btnOpen1" @bind-Open="_showOptionsMenu" VerticalThreshold="170">
                <FluentMenuItem>Passwort ändern</FluentMenuItem>
                <FluentMenuItem>Benutzer löschen</FluentMenuItem>
            </FluentMenu>

            <FluentButton IconStart="@(new Icons.Regular.Size20.Save())"
                          Appearance="Appearance.Accent"
                          OnClick="SaveAsync">

                Speichern
            </FluentButton>
        </FluentStack>
    </FluentGridItem>
    <FluentGridItem md="4" HiddenWhen="GridItemHidden.MdAndDown"></FluentGridItem>
    <FluentGridItem xs="12" md="4">

        <FluentCard>
            <EditForm Model="Input" @ref="_form">
                <FluentValidationValidator Validator="_validator" />
                <ValidationSummary />
                <FluentGrid Spacing="1">
                    @if (ActiveDirectoryMode)
                    {
                        <FluentGridItem xs="12">
                            <FluentMessageBar Title="Hinweis:" Intent="@MessageIntent.Warning" AllowDismiss="false" Class="mb-1">
                                Dieses Konto ist mit dem Active Directory verknüpft. Sie können daher nicht alle Eigenschaften bearbeiten.
                            </FluentMessageBar>
                        </FluentGridItem>
                    }
                    @if (Input.UserId > 0)
                    {
                        <FluentGridItem xs="12">
                            <FluentNumberField @bind-Value="Input.UserId" Label="UserId" Disabled />
                        </FluentGridItem>
                    }

                    <FluentGridItem xs="12">
                        <FluentTextField @bind-Value="Input.Username" Label="Username" Disabled="ActiveDirectoryMode" />
                    </FluentGridItem>

                    @if (ActiveDirectoryMode)
                    {
                        <FluentGridItem xs="12">
                            <FluentTextField Value="@(Input.ActiveDirectoryGuid?.ToString() ?? string.Empty)" Label="Active Directory Guid" Disabled />
                        </FluentGridItem>
                    }

                    <FluentGridItem xs="12">
                        <FluentSelect @bind-SelectedOption="Input.AccountType" TOption="AccountType" Label="Kontotyp" Disabled>
                            @foreach (var item in Enum.GetValues<AccountType>())
                            {
                                <FluentOption Value="@item.ToString()" Selected=@(Input.AccountType == item)>@item.ToText()</FluentOption>
                            }
                        </FluentSelect>
                    </FluentGridItem>

                    <FluentGridItem xs="12" md="6">
                        <FluentTextField @bind-Value="Input.FirstName" Label="Vorname" Disabled="ActiveDirectoryMode" />
                    </FluentGridItem>
                    <FluentGridItem xs="12" md="6">
                        <FluentTextField @bind-Value="Input.LastName" Label="Nachname" Disabled="ActiveDirectoryMode" />
                    </FluentGridItem>

                    @if (Modus is EditMode.Create)
                    {
                        <FluentGridItem xs="12" md="6">
                            <FluentTextField @bind-Value="Input.Password" Label="Passwort" TextFieldType="TextFieldType.Password" />
                        </FluentGridItem>
                        <FluentGridItem xs="12" md="6">
                            <FluentTextField @bind-Value="Input.PasswordConfirm" Label="Passwort wiederholen" TextFieldType="TextFieldType.Password" />
                        </FluentGridItem>
                    }

                    <FluentGridItem xs="12">
                        <FluentTextField @bind-Value="Input.Email" Label="E-Mail" Disabled="ActiveDirectoryMode" />
                    </FluentGridItem>

                    <FluentGridItem xs="12">
                        <FluentSwitch @bind-Value="Input.IsActive" Label="Status">
                            <span slot="checked-message">Aktiv</span>
                            <span slot="unchecked-message">Inaktiv</span>
                        </FluentSwitch>
                    </FluentGridItem>

                    <FluentGridItem xs="12">
                        <FluentSwitch @bind-Value="Input.IsAdmin" Label="Administrator">
                            <span slot="checked-message">Ja</span>
                            <span slot="unchecked-message">Nein</span>
                        </FluentSwitch>
                    </FluentGridItem>
                </FluentGrid>
            </EditForm>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem md="4" HiddenWhen="GridItemHidden.MdAndDown"></FluentGridItem>
</FluentGrid>

@code {


    private bool _showOptionsMenu;

    private UserValidator _validator = new();

    protected override string GetEntityRedirectUrl() => $"/Admin/Users/Edit?userId={Input.UserId}";


    [Parameter, SupplyParameterFromQuery(Name = "userId")]
    public override int? Identifier { get; set; }

    public bool ActiveDirectoryMode => Input?.AccountType is AccountType.ActiveDirectory;

    protected override Task BeforeSaveAsync(IDbController dbController)
    {
        if (Modus is EditMode.Create)
        {
            PasswordHasher<User> hasher = new();
            Input.Salt = StringExtensions.RandomString(20);

            string passwordHashed = hasher.HashPassword(Input, Input.Password + Input.Salt);

            Input.Password = passwordHashed;
        }

        return Task.CompletedTask;
    }

}