@page "/Admin/Voreinstellungen/Edit"
@using BlazorERP.Core.Validators.Admin.Hilfsdaten
@using Microsoft.AspNetCore.Identity
@inject AuthService authService
@inherits EditPageBase<int?, Voreinstellung, VoreinstellungService>
@inject SpracheService spracheService
@inject IMessageService messageService
@inject IDialogService DialogService
<PageTitle>@FinalBreadcrumbItemName</PageTitle>

<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="/">Start</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>Administration</FluentBreadcrumbItem>
    <FluentBreadcrumbItem Href="/Admin/Voreinstellungen">Voreinstellungen</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>@FinalBreadcrumbItemName</FluentBreadcrumbItem>
</FluentBreadcrumb>
@if (Input is null)
{
    return;
}
<FluentStack HorizontalAlignment="HorizontalAlignment.End">
    <FluentAnchor Href="/Admin/Voreinstellungen"
                  IconStart="@(new Icons.Regular.Size20.ArrowReply())">
        Zurück
    </FluentAnchor>

    @if (Modus is EditMode.Edit)
    {
        <FluentButton id="btnOpen1" Appearance="Appearance.Accent" @onclick="@(() => _showOptionsMenu = !_showOptionsMenu)">
            Optionen
        </FluentButton>

        <FluentMenu Anchor="btnOpen1" @bind-Open="_showOptionsMenu" VerticalThreshold="170">
            <FluentMenuItem OnClick="ShowDeleteModalAsync">Voreinstellung löschen</FluentMenuItem>
        </FluentMenu>
    }

    <FluentButton IconStart="@(new Icons.Regular.Size20.Save())"
                  Appearance="Appearance.Accent"
                  OnClick="SaveAsync">

        Speichern
    </FluentButton>
</FluentStack>

<EditForm Model="Input" @ref="_form">
    <FluentValidationValidator Validator="_validator" />
    <FluentTabs>
        <FluentTab Label="Allgemein">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        @if (Modus is EditMode.Edit)
                        {
                            <div class="col-12">
                                <FluentNumberField @bind-Value="Input.VoreinstellungId" Label="VoreinstellungId" Disabled />
                                <FluentValidationMessage For="() => Input.VoreinstellungId" />
                            </div>
                        }

                        <div class="col-12">
                            <FluentTextField @bind-Value="Input.Name" Label="Name" />
                            <FluentValidationMessage For="() => Input.Name" />
                        </div>

                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="row">
                        @if (Modus is EditMode.Edit)
                        {
                            <div class="col-12">
                                <FluentDatePicker Appearance="FluentInputAppearance.Filled" Label="Letzte Änderung" @bind-Value="@Input.ZuletztGeaendert" ReadOnly />
                            </div>

                            @* <div class="col-12">
                                <FluentTextField Appearance="FluentInputAppearance.Filled" Label="Letzter Bearbeiter" Value="@Input.BearbeiterName" ReadOnly />
                            </div> *@
                        }
                    </div>
                </div>
            </div>
        </FluentTab>
        <FluentTab Label="Kunden">
            <Content>
                <div class="row">

                </div>
            </Content>
        </FluentTab>

    </FluentTabs>
</EditForm>
@code {


    private bool _showOptionsMenu;
    private ZahlungsbedingungValidator _validator = new();



    protected override string GetEntityRedirectUrl() => $"/Admin/Voreinstellungen/Edit?voreinstellungId={Input!.VoreinstellungId}";




    [Parameter, SupplyParameterFromQuery(Name = "voreinstellungId")]
    public override int? Identifier { get; set; }


    private async Task ShowDeleteModalAsync()
    {

        var dialog = await DialogService.ShowDialogAsync<DeleteDialog<Voreinstellung, VoreinstellungService>>(Input!, new CustomDialogParameters()
            {
                Title = $"Voreinstellung löschen",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true,
                Text = $"Möchten Sie die Voreinstellung \"{Input!.GetName()}\" wirklich löschen?"
            });

        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            messageService.ShowMessageBar(options =>
            {
                options.Title = "Voreinstellung wurde erfolgreich gelöscht!";
                options.Intent = MessageIntent.Success;
                options.Section = Constants.MESSAGEBAR_TOP_SECTION;
                options.Timeout = 4000;
            });

            NavigationManager.NavigateTo("/Admin/Voreinstellungen");
        }
    }

    protected override Task BeforeSaveAsync(IDbController dbController)
    {
        Input.LetzterBearbeiter = User.UserId;
        Input.ZuletztGeaendert = DateTime.Now;

        return Task.CompletedTask;
    }

}