@page "/Admin/Countries/Edit"
@using BlazorERP.Core.Validators.Admin.Hilfsdaten
@using Microsoft.AspNetCore.Identity
@inherits EditPageBase<int?, Country, CountryService>

<PageTitle>@FinalBreadcrumbItemName</PageTitle>

<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="/">Start</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>Administration</FluentBreadcrumbItem>
    <FluentBreadcrumbItem Href="/Admin/Countries">Länder</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>@FinalBreadcrumbItemName</FluentBreadcrumbItem>
</FluentBreadcrumb>
@if (Input is null)
{
    return;
}
<FluentStack HorizontalAlignment="HorizontalAlignment.End">
    <FluentAnchor Href="/Admin/Countries"
                  IconStart="@(new Icons.Regular.Size20.ArrowReply())">
        Zurück
    </FluentAnchor>

    @if (Modus is EditMode.Edit)
    {
        <FluentButton id="btnOpen1" Appearance="Appearance.Accent" @onclick="@(() => _showOptionsMenu = !_showOptionsMenu)">
            Optionen
        </FluentButton>

        <FluentMenu Anchor="btnOpen1" @bind-Open="_showOptionsMenu" VerticalThreshold="170">
            <FluentMenuItem OnClick="ShowDeleteModalAsync">Land löschen</FluentMenuItem>
        </FluentMenu>
    }

    <FluentButton IconStart="@(new Icons.Regular.Size20.Save())"
                  Appearance="Appearance.Accent"
                  OnClick="SaveAsync">

        Speichern
    </FluentButton>
</FluentStack>

<EditForm Model="Input" @ref="_form">
    <FluentValidationValidator Validator="_validator" />
    <FluentTabs>
        <FluentTab Label="Allgemein">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        @if (Modus is EditMode.Edit)
                        {
                            <div class="col-md-12">
                                <FluentNumberField @bind-Value="Input.CountryId" Label="LandId" Disabled />
                            </div>
                        }

                        <div class="col-md-3">
                            <FluentTextField @bind-Value="Input.ISO2" Label="ISO2" />
                            <FluentValidationMessage For="() => Input.ISO2" />
                        </div>
                        <div class="col-md-3">
                            <FluentTextField @bind-Value="Input.ISO3" Label="ISO3" />
                            <FluentValidationMessage For="() => Input.ISO3" />
                        </div>
                        <div class="col-md-3">
                            <FluentTextField @bind-Value="Input.DialingCode" Label="Vorwahl" />
                            <FluentValidationMessage For="() => Input.DialingCode" />
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="row">
                        @if (Modus is EditMode.Edit)
                        {
                            <div class="col-12">
                                <FluentDatePicker Appearance="FluentInputAppearance.Filled" Label="Letzte Änderung" @bind-Value="@Input.LastModified" ReadOnly />
                            </div>

                            <div class="col-12">
                                <FluentTextField Appearance="FluentInputAppearance.Filled" Label="Letzter Bearbeiter" Value="@Input.LastModifiedName" ReadOnly />
                            </div>
                        }

                        <div class="col-12">
                            <div class="d-flex flex-column gap-2 mt-2">
                                <FluentSwitch @bind-Value="Input.IsEU" Label="EU Land" />
                                <FluentSwitch @bind-Value="Input.IsActive" Label="Aktiv" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </FluentTab>
        <FluentTab Label="Übersetzungen">
            <Content>
                <TranslationEditor Input="Input" />
            </Content>
        </FluentTab>

    </FluentTabs>
</EditForm>
@code {


    private bool _showOptionsMenu;
    private CountryValidator _validator = new();

    protected override string GetListUrl() => "/Admin/Countries";
    protected override string GetEntityRedirectUrl() => $"/Admin/Countries/Edit?countryId={Input!.CountryId}";

    [Parameter, SupplyParameterFromQuery(Name = "countryId")]
    public override int? Identifier { get; set; }

}