@inject LanguageService spracheService
@if (Input is null)
{
    return;
}
<div class="d-flex justify-content-end gap-1 mb-2">
    <InputSelect @bind-Value="_sprachId" class="fluent-select">
        <option value="">Auswählen</option>
        @foreach (var item in _languages)
        {
            if (_addedIds.Contains(item.LanguageId))
            {
                continue;
            }

            <option value="@item.LanguageId">@item.GetName(Storage.DEFAULT_LANGUAGE)</option>
        }
    </InputSelect>

    <FluentButton IconStart="@(new Icons.Regular.Size20.Add())" @onclick="Add" Disabled="_sprachId == null"></FluentButton>
</div>

<FluentValidationMessage For="() => Input.Translations" />
@if (_languages.Count > 0)
{
    <div class="row">
        <div class="col-12">
            <div class="d-flex gap-2 flex-column">
                @foreach (var item in Input.Translations)
                {
                    <div class="d-flex gap-1">

                        <FluentTextField Value="@(_languages.First(x => x.LanguageId == item.LanguageId).GetName(Storage.DEFAULT_LANGUAGE))" Class="@(item.LanguageId == Storage.DEFAULT_LANGUAGE ? "w-auto main-language fw-bold" : "w-auto")" Disabled />
                        
                        <div class="form-group w-100">
                            <FluentTextField @bind-Value="item.ValueText" Placeholder="Übersetzung" />
                            <FluentValidationMessage For="() => item.ValueText" />
                        </div>
                        <FluentButton IconStart="@(new Icons.Regular.Size20.Delete())" @onclick="() => Remove(item)"></FluentButton>
                    </div>
                }
            </div>
        </div>
    </div>
}
@code {
    [Parameter, EditorRequired]
    public BlazorERP.Core.Models.Abstract.TranslationBase? Input { get; set; }
    private HashSet<int?> _addedIds = [];
    private List<Language> _languages = [];

    private int? _sprachId;

    protected override async Task OnInitializedAsync()
    {
        using IDbController dbController = new FbController();
        _languages = await LanguageService.GetAsync(dbController);
    }

    protected override void OnParametersSet()
    {
        _addedIds = Input!.Translations.Select(x => x.LanguageId).ToHashSet();
    }



    private void Add()
    {
        var item = new Translation
            {
                LanguageId = _sprachId,
            };

        _addedIds.Add(_sprachId);

        Input!.Translations.Add(item);
        _sprachId = null;
    }

    private void Remove(Translation item)
    {
        Input!.Translations.Remove(item);
        _addedIds.Remove(item.LanguageId);
    }
}
