@inject AuthService authService
@if(_user is null)
{
    return;
}

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavLink Href="counter" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Counter</FluentNavLink>
            <FluentNavLink Href="weather" Icon="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())" IconColor="Color.Accent">Weather</FluentNavLink>

            @if(_user.IsAdmin)
            {
                <FluentNavGroup Title="Administration" Icon="@(new Icons.Regular.Size20.Settings())">
                    <ChildContent>
                        <FluentNavLink Href="/Admin/Users" Icon="@(new Icons.Regular.Size20.PeopleList())">Benutzer</FluentNavLink>

                        <FluentNavGroup Title="Hilfsdaten" Icon="@(new Icons.Regular.Size20.Database())">
                            <ChildContent>
                                <FluentNavLink Href="/Admin/Anreden" Icon="@(new Icons.Regular.Size20.EmojiHand())">Anreden</FluentNavLink>
                                <FluentNavLink Href="/Admin/Abteilungen" Icon="@(new Icons.Regular.Size20.Group())">Abteilungen</FluentNavLink>
                                <FluentNavLink Href="/Admin/Kostenstellen" Icon="@(new Icons.Regular.Size20.MoneyCalculator())">Kostenstellen</FluentNavLink>
                                <FluentNavLink Href="/Admin/Länder" Icon="@(new Icons.Regular.Size20.Globe())">Länder</FluentNavLink>
                                <FluentNavLink Href="/Admin/Lieferbedingungen" Icon="@(new Icons.Regular.Size20.VehicleTruckProfile())">Lieferbedingungen</FluentNavLink>
                                <FluentNavLink Href="/Admin/Währungen" Icon="@(new Icons.Regular.Size20.CurrencyDollarEuro())">Währungen</FluentNavLink>
                                <FluentNavLink Href="/Admin/Zahlungsbedingungen" Icon="@(new Icons.Regular.Size20.Money())">Zahlungsbedingungen</FluentNavLink>
                            </ChildContent>
                        </FluentNavGroup>
                    </ChildContent>
                </FluentNavGroup>
            }

            <FluentNavGroup Title="Account" Icon="@(new Icons.Regular.Size20.Person())">
                <ChildContent>
                    <FluentNavLink Href="/Account/Details" Icon="@(new Icons.Regular.Size20.ContactCard())">Details</FluentNavLink>
                    <FluentNavLink Href="/Account/Settings" Icon="@(new Icons.Regular.Size20.PersonSettings())">Einstellungen</FluentNavLink>
                    <FluentNavLink Href="/Account/Logout" Icon="@(new Icons.Regular.Size20.SignOut())" IconColor="Color.Accent">Logout</FluentNavLink>
                </ChildContent>
            </FluentNavGroup>
            
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
    private User? _user;
    protected override async Task OnInitializedAsync()
    {
        _user = await authService.GetUserAsync();
    }
}
